{% extends '::base.html.twig' %}
{% block body %}
    <table class="table">
    {% for botRestaurant in botRestaurants %}
        <tr>
            <td>{{ botRestaurant.id }}</td>
            <td>{{ botRestaurant.number }}</td>
            <td>{{ botRestaurant.name }}</td>
            <td>{{ botRestaurant.links|length }} lien(s)</td>
            <td>
            {% for link in botRestaurant.links %}
                <p><a href="{{ link.url }}">{{ link.url }}</a></p>
            {% endfor %}
            <td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
