<div class="panel panel-info">
    <div class="panel-heading">
        <div class="panel-title">{{ menu.entitled }}</div>
        <div>
            <span>par</span>
            <span>{{ menu.restaurant.name }}</span>
        </div>
    </div>
    <div class="panel-body">
        <div>
            <img src="{{ asset('img/menu/' ~ menu.image) }}" class="img-responsive img-rounded">
        </div>
        <br/>
        <ul class="list-group">
        {% for detail in menu.details %}
            <li class="list-group-item">
                <span class="label label-info">{{ detail.type.name }}</span>
                <span>{{ detail.dish.entitled }}</span>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div class="panel-footer">
        <span class="label label-primary">CHF {{ menu.price }}</span>
    </div>
</div>